flysystem:
    storages:
        default.storage:
            adapter: 'aws'
            options:
                client: 'app.r2_s3_client'
                bucket: '%env(AWS_BUCKET)%'
                prefix: 'uploads'