flysystem:
    storages:
        default.storage:
            adapter: 'aws'
            options:
                client: 'App\Service\CloudflareR2Client'
                bucket: '%env(AWS_BUCKET)%'
                prefix: 'uploads'