monolog:
    handlers:
        main:
            type: stream
            path: 'php://stderr'  # Laravel Cloud compatible - sends to log stream
            level: info  # Changed from debug to info for Laravel Cloud
            channels: ['!event']
        console:
            type: console
            process_psr_3_messages: false
            channels: ['!event', '!doctrine']