monolog:
    handlers:
        main:
            type: stream
            path: '%kernel.logs_dir%/%kernel.environment%.log'
            level: info
            channels: ['!event']
        stderr:
            type: stream
            path: 'php://stderr'
            level: warning
        console:
            type: console
            process_psr_3_messages: false
            channels: ['!event', '!doctrine']